<div class="page-width metafields-test-section">
  {% if page.metafields.global.single_line_subtitle.value !=blank %}
    {{ page.metafields.global.single_line_subtitle.value }}
  {% endif %} <br>
  {% if page.metafields.global.multi_line_additional_content.value !=blank %}
    {{ page.metafields.global.multi_line_additional_content.value }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Metafields test section",
  "tag": "section",
  "class": "section metafields-test-section",
  "presets": [
    {
      "name": "Metafields test section"
    }
  ]
}
{% endschema %}
