<div class="page-width metafields-test-section">
  {% if page.metafields.global.single_line_subtitle.value %}
    {{ page.metafields.global.single_line_subtitle.value }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Metafields test section",
  "tag": "section",
  "class": "section metafields-test-section",
  "presets": [
    {
      "name": "Metafields test section"
    }
  ]
}
{% endschema %}
