<div class="page-width metafields-test-section">
  12345
</div>

{% schema %}
{
  "name": "Metafields test section",
  "tag": "section",
  "class": "section metafields-test-section",
  "presets": [
    {
      "name": "Metafields test section"
    }
  ]
}
{% endschema %}
